@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-zinc-100);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
